{% extends "base.html" %}
{%block aboutactive%}active {%endblock aboutactive%}
{%block title%}About {%endblock title%}
{% block body %}
      <h2 class="text-center">Cards</h2>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                      <img src="https://source.unsplash.com/450x300/?code,html" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk
                              of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                      <img src="https://source.unsplash.com/450x300/?code,html" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk
                              of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                      <img src="https://source.unsplash.com/450x300/?code,html" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk
                              of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      

      <div class="container">
        <h3 class="text-center mt-3">Hello world</h3>
        <div class="embed-responsive embed-responsive-36by15">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
      </div>
      <footer class="bg-dark text-light position-absolute fixed-bottom" >
        <p class="text-center py-4 my-0">
            Copyright &copy; 2023 All rights reserved
        </p>
    </footer>

{% endblock body %}
    